@import url(https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #F5F5F5;
}

header {
    padding: 50px 0;
    background-color: #501919;
    color: white;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

h1 {
    text-align: center;
    font-family: "Tangerine", 'Times New Roman', Times, serif;
    font-size: 8rem;
}

img {
    display: block;
}

.hero-image {
    margin: auto;
    max-width: 100%;
    min-width: 50%;
    width: 100%;
}

p {
    line-height: 1.4;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.column {
    flex: 50%;
}

.medium-picture {
    object-fit: contain;
    width: 100%;
    max-height: 70vh;
}

.image-right {
    display: flex;
    align-items: right;
    justify-content: right;
}

.quotation {
    font-family: "Tangerine", 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.center {
    text-align: center;
}

.text-description-left {
    font-size: 2rem;
    margin-top: 10px;
    padding-left: 15%;
}

.text-description-right {
    font-size: 2rem;
    margin-top: 10px;
    padding-right: 15%;
}

span.red-color {
    color: #B22222;
}

.row:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #B22222;
}

.learn-more {
    font-family: "Tangerine", 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: center;
    padding-bottom: 3%;
}

a:hover {
    color: #B2222299;
}
